In [41]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import pickle
import joblib

In [5]:
#Load the Boston Housing Data Set from sklearn.datasets and print it
from sklearn.datasets import load_boston
data = pd.read_csv("./price_data.csv")

In [6]:
print(data.shape)
data.head(20)

(2922, 6)

        year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0   20100101     -4.9    -11.0      0.9       0.0      2123
1   20100102     -3.1     -5.5      5.5       0.8      2123
2   20100103     -2.9     -6.9      1.4       0.0      2123
3   20100104     -1.8     -5.1      2.2       5.9      2020
4   20100105     -5.2     -8.7     -1.8       0.7      2060
5   20100106     -7.3    -11.4     -2.5       0.3      2060
6   20100107     -6.7    -11.2     -1.2       0.0      2140
7   20100108     -5.6    -11.4      1.4       0.0      2140
8   20100109     -3.1     -8.8      1.8       0.1      2140
9   20100110     -1.3     -5.0      2.8       0.0      2140
10  20100111     -1.5     -5.1      2.1       0.0      2140
11  20100112     -5.0     -8.2     -1.7       0.4      2140
12  20100113     -8.3    -11.4     -4.6       0.7      2140
13  20100114     -6.4    -12.7      0.0       0.1      2140
14  20100115     -2.6     -7.9      3.9       0.1      2140
15  20100116     -4.1     -9.9      2.9       0.0      2140
16  20100117     -3.1     -9.8      4.9       0.0      2140
17  20100118     -0.4     -7.1      7.7       0.0      2140
18  20100119      3.6     -4.6     11.0       0.3      2140
19  20100120      8.0      4.9     11.3      10.8      2175

In [7]:
data_features = ['avgTemp', 'minTemp', 'maxTemp', 'rainFall']

In [8]:
X = data[data_features]
X.head()

   avgTemp  minTemp  maxTemp  rainFall
0     -4.9    -11.0      0.9       0.0
1     -3.1     -5.5      5.5       0.8
2     -2.9     -6.9      1.4       0.0
3     -1.8     -5.1      2.2       5.9
4     -5.2     -8.7     -1.8       0.7

In [9]:
X.describe()

           avgTemp      minTemp      maxTemp     rainFall
count  2922.000000  2922.000000  2922.000000  2922.000000
mean     12.980527     8.288227    18.378645     3.445140
std       9.790108    10.232362     9.803192     8.563899
min     -10.800000   -14.800000    -7.400000     0.000000
25%       4.200000    -0.700000     9.700000     0.000000
50%      13.950000     8.700000    19.950000     0.100000
75%      21.700000    17.575000    27.100000     2.175000
max      29.900000    25.900000    35.600000    95.500000

In [10]:
y = data.avgPrice

In [33]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor(random_state=1)

# Fit model
model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [44]:
joblib.dump(model, 'model.pkl')

['model.pkl']

In [12]:
model.score(X, y)

0.999125889221821

In [24]:
avg_temp = -4.9 # 평균 온도
min_temp = -11.0 # 최저 온도
max_temp = 0.9 # 최고 온도
rain_fall = 0.0 # 강수량

In [25]:
input_val = [[avg_temp, min_temp, max_temp, rain_fall]]

In [48]:
# model load
load_model = joblib.load('model.pkl') 
result = load_model.predict(input_val)

In [49]:
print ('기후 변화에 따른 배추 가격 예측')
print ('--------------------------------')
print ('AI 예측 정확도 : ', model.score(X, y), '%')
print ('--------------------------------')
print ('평균 온도 :', avg_temp)
print ('최저 온도 :', min_temp)
print ('최고 온도 :', max_temp)
print ('강수량 온도 :', rain_fall)
print ('--------------------------------')
print ('예상 배추 가격 : ', result[0], '원')
print ('--------------------------------')

기후 변화에 따른 배추 가격 예측
--------------------------------
AI 예측 정확도 :  0.999125889221821 %
--------------------------------
평균 온도 : -4.9
최저 온도 : -11.0
최고 온도 : 0.9
강수량 온도 : 0.0
--------------------------------
예상 배추 가격 :  2123.0 원
--------------------------------